@model IEnumerable<Proizvod>

@{
    ViewBag.Naslov = "Spisak";
}

<h2>Spisak: @ViewBag.BrojProizvoda</h2>

@foreach (var p in Model)
{
    <div class="card border-info mb-3">
        <div class="card-header">
            @p.Ime
            <span class="badge badge-info" style="float:right">
                @p.Cena.ToString("c")
            </span>
        </div>
        <div class="card-body text-dark">
            <p class="card-text">@p.Opis</p>
        </div>
    </div>
}
