@model Korpa

<div>
    @if (Model.listaProizvodaUKorpi.Count() > 0)
    {
        <small class="navbar-text">
            <b>Vaša korpa:</b>
            @Model.listaProizvodaUKorpi.Count() proizvoda <br />
            @Model.IzracunajVrednost().ToString("c", Cultures.SrbLtn)
        </small>
    }
    <br />
    <a asp-controller="Korpa" asp-action="SpisakKorpe"
       asp-route-url="@ViewContext.HttpContext.Request.UzmiUrl()">
        <i class="fas fa-shopping-cart"></i>
    </a>
</div>
