@model IEnumerable<string>

<a asp-action="SpisakProizvoda" asp-controller="Proizvod" asp-route-kategorija=""
 class="btn btn-outline-info btn-block" style="width: 70%">PoÄetna</a>

@foreach(string s in @Model)
{
    <a asp-action="SpisakProizvoda" asp-controller="Proizvod" asp-route-kategorija="@s"
    class="btn btn-block 
    @(s == ViewBag.TrenutnaKategorija ? "btn-info" : "btn-outline-info")" style="width: 70%">@s</a>
}