# Pogledati https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# ukoliko je potrebno dodati jos pravila

# Ignoring files build by Visual Studio

*.user
*.aps
*.pch
*.vspscc
*._i.c
*._p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/predavanja/primeri-dotnetcore/WebServices/DependencyInjection/.vs/DependencyInjection/DesignTimeBuild/.dtbcache
/predavanja/primeri-dotnetcore/WebServices/DependencyInjection/.vs/DependencyInjection/v16/Server/sqlite3/db.lock
/predavanja/primeri-dotnetcore/WebServices/DependencyInjection/.vs/DependencyInjection/v16/Server/sqlite3/storage.ide
/predavanja/primeri-dotnetcore/WebServices/Swagger/.vs/Swagger/DesignTimeBuild/.dtbcache
/predavanja/primeri-dotnetcore/WebServices/Swagger/.vs/Swagger/v16/Server/sqlite3/db.lock
/predavanja/primeri-dotnetcore/WebServices/Swagger/.vs/Swagger/v16/Server/sqlite3/storage.ide
/predavanja/primeri-dotnetcore/WebServices/Swagger/Swagger.xml
