@* @model IEnumerable<Proizvod> *@
@* 29 *@
@model SpisakProizvodaViewModel

@* @foreach (Proizvod p in Model){ *@

@* 29, 30 *@
@foreach (Proizvod p in Model.Proizvodi){
    @Html.Partial("ProizvodIspis", p)
}

@* 29, 30 *@
<div model-strane="@Model.ModelStrane" page-action="SpisakProizvoda" page-class="btn" 
 page-class-normalno="btn-outline-primary" page-class-selektovano="btn-primary" class="btn-group"></div>


