<!DOCTYPE html>
<html>
<head>
    <title>Aerodrom zaposleni</title>
	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css"
                           asp-href-exclude="**/*-reboot*,**/*-grid*" />
</head>
<body>
    <nav class="navbar navbar-inverse">
	    <a class="navbar-brand" href="/">RADNICI</a>
    </nav>
        
    @RenderBody()
  
</body>
</html>
