<!doctype html>
<html lang="en">
  <head>
    <title>Prodavnica Kozmetike</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css"
                           asp-href-exclude="**/*-reboot*,**/*-grid*" />

  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PRODAVNICA KOZMETIKE</a>
    </nav>

    <div class="row m-1 p-1">
        <div class="col-3">
            Bice i ovde nesto
        </div>

        <div class="col-9">
                @RenderBody()
        </div>
    </div>
  </body>
</html>

