@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mladena Stojanovića 2<br />
    Banja Luka, Republika Srpska<br />
    <abbr title="Telefon">Tel:</abbr>
    +387 51 123 123
</address>

<address>
    <strong>Podrška:</strong> <a href="mailto:podrska@pmfbl.org">podrska@pmfbl.org</a><br />
    <strong>Uprava:</strong> <a href="mailto:uprava@pmfbl.org">uprava@pmfbl.org</a>
</address>
