@model IEnumerable<primer4.Models.Gosti>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />  <!-- omogucava skaliranje web strane -->
    <title>Spisak gostiju</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h2>Spisak gostiju</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Email</th>
                <th>Telefon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (primer4.Models.Gosti g in Model)
            {
                <tr>
                    <td> @g.Ime </td>
                    <td> @g.Email </td>
                    <td> @g.Telefon </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>