@model string

@{
    ViewBag.Title = "Cetovanje";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <label>Korisnik</label>
            <input type="text" class="form-control" id="userInput" value="@Model"/>
            <br />
            <label>Poruka</label>
            <input type="text" class="form-control" id="porukaInput" />
            <br />
            <input type="button" id="posaljiButton" value="Pošalji poruku" 
                   class="btn btn-outline-dark form-control"/>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            <ul id="listaPoruka"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

@*ovaj skript pisemo mi i stavljamo ga u zeljeni folder*@
<script src="~/lib/signalr/chat.js"></script>

