@model Proizvod

@{
    ViewBag.Naslov = "Izmeni Proizvod";
    Layout = "_AdminLayout";
}

<form asp-action="Izmeni" method="POST">
    <input type="hidden" asp-for="ProizvodID" />

    <div class="form-group">
        <label>Ime</label>
        <div><span asp-validation-for="Ime" class="text-danger"></span></div>
        <input asp-for="Ime" class="form-control" />
    </div>

    <div class="form-group">
        <label>Opis</label>
        <div><span asp-validation-for="Opis" class="text-danger"></span></div>
        <input asp-for="Opis" class="form-control" />
    </div>

    <div class="form-group">
        <label>Kategorija</label>
        <div><span asp-validation-for="Kategorija" class="text=danger"></span></div>
        <input asp-for="Kategorija" class="form-control" />
    </div>

    <div class="form-group">
        <label>Cena</label>
        <div><span asp-validation-for="Cena" class="text-danger"></span></div>
        <input asp-for="Cena" class="form-control" />
    </div>
 
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Sačuvaj</button>
        <a asp-action="SpisakProizvoda" asp-controller="Admin"  class="btn btn-outline-primary">Odustani</a>
    </div>
</form>
