<br>



  <div class="row">
    <div class="col">
      <div class="text-center">
      <kategorija-filter></kategorija-filter>
      </div>

      <br><br>

      <table class="table table-sm table-striped">
          <tr>
              <th>Ime</th>
              <th>Kategorija</th>
              <th>Cena</th>
              <th>Proizvođač</th>
              <th>Ocene</th>
              <th></th>
          </tr>
          <tr *ngFor="let p of proizvodi">
              <td>{{p.ime}}</td>
              <td>{{p.kategorija}}</td>
              <td>{{p.cena}}</td>
              <td>{{p.proizvodjac?.ime || 'Nema'}}</td>
              <td>{{p.ocene?.length || 0}}</td>
              <td><button class="btn btn-info btn-sm" (click)="selectProizvod(p.proizvodID)">Detalji</button></td>
          </tr>
      </table>

      <a routerLink="/kreiraj"><button class="btn btn-primary btn-sm">Kreiraj Novi</button></a>

    </div>

    <div class="col">
      <proizvod-detalji></proizvod-detalji>
    </div>
  </div>



