@model primer4.Models.Gosti

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forma za unos</title>
    <link rel="stylesheet" href="/css/stil.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-heading text-center"><h2>Pozdrav iz forme za unos.</h2></div>

    <form asp-action="FormaZaUnos" method="POST">
        <div asp-validation-summary="All"></div> <!-- Da bi prikazao greske koje su nastale tokom unosa podataka. -->
        <p class="form-group">
            <label asp-for="Ime">Ime: </label>
            <input class="form-control" placeholder="Unesi ime" asp-for="Ime" />
        </p>
        <p class="form-group">
            <label asp-for="Email">Email: </label>
            <input class="form-control" placeholder="Unesi Email" asp-for="Email" />
        </p>
        <p class="form-group">
            <label asp-for="Telefon">Telefon: </label>
            <input class="form-control" placeholder="Unesi telefon" asp-for="Telefon" />
        </p>
        <p class="form-group">
            <label> Da li dolazite na zurku?</label>
            <select class="form-control" asp-for="DolaziNaZurku">
                <option value=""> Izaberite opciju </option>
                <option value="true">Da, dolazim!</option>
                <option value="false">Ne, imam u planu nesto drugo.</option>
            </select>
        </p>
        <button class="btn btn-info" type="submit">Unesi podatke</button>
    </form>
</body>
</html>


