@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />  <!-- omogucava skaliranje web strane -->
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <h1>@ViewBag.Pozdrav svete!!</h1><br>
        <p class="alert alert-success" role="alert">Pozivamo vas na zurku! :)</p>
        <a class="btn btn-info" asp-action="FormaZaUnos">Prijavite se sada!</a>
    </div>

</body>
</html>