@model Korpa

<div>
    @if(Model.ListaProizvodaUKorpi.Count() > 0)
    {
        <small class="navbar-text">
            <b>Vaša korpa:</b>
            @Model.ListaProizvodaUKorpi.Count() proizvoda
            @Model.IzracunajVrednost().ToString("c", Cultures.Srbija)
        </small>
    }
    <br />
     <a asp-action="SpisakKorpe" asp-controller="Korpa"
        asp-route-url="@ViewContext.HttpContext.Request.PutanjaIUpit()">
         <i class="fas fa-shopping-cart"></i>
     </a>
</div>