@model CreateModel
@{
    ViewBag.Title = "Create User";
    Layout = "_AdminLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="KreirajKorisnika" asp-controller="Account" method="POST">
    <div class="form-group">
        <label>Ime</label>
        <input asp-for="Ime" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Sifra</label>
        <input asp-for="Sifra" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Sacuvaj</button>
</form>