@model Proizvod

@{ 
    ViewBag.Naslov = "Proizvodi";
}


Sadrzaj strane: @Model.Ime <br />

<p>Cena: @Model.Cena.ToString("C") </p>

<p>
    Količina:
    @*
        @switch (ViewBag.Kolicina)
        {
            case 0:
                <text> Nema u zalihama </text> break;
            case 1:
            case 2:
            case 3:
                @: Male zalihe. Naručiti.
                break;
            default:
                <b>@ViewBag.Kolicina</b>
                break;
        }
    *@

    @if (ViewBag.Kolicina == 0)
    {
        <text>Nema u zalihama.</text>
    }
    else if (ViewBag.Kolicina >= 1 && ViewBag.Kolicina <= 3)
    {
        @: Male zalihe. Naruciti.
    }
    else
    {
        <b>@ViewBag.Kolicina</b>
    }
</p>

