@model NavigacijaViewModel

@* 
asp-... su ugradjeni tag helperi.
    Imena su intuitivna, asp-controller kaze da kada kliknemo na ovaj link 
    treba primeniti kontroler Proizvod.
    Sa asp-route-trenutnaKategorija postavljamo vrednost parametra
    trenutnaKategorija.
*@
<a class="btn btn-block btn-outline-info"
   asp-controller="Proizvod"
   asp-action="Spisak"
   asp-route-trenutnaKategorija=""
   asp-route-tekucaStrana="1">Početna</a>

@foreach(var kategorija in Model.Kategorije)
{
    <a class="btn btn-block
       @(kategorija == @Model.TrenutnaKategorija ? "btn-info" : "btn-outline-info")"
       asp-controller="Proizvod"
       asp-action="Spisak"
       asp-route-trenutnaKategorija="@kategorija"
       asp-route-tekucaStrana="1">@kategorija</a>
}
