@model PrijavljivanjeModel

@{
    ViewBag.Title = "Prijavljivanje";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Prijavljivanje" asp-controller="Account" method="post">
    <div class="form-group">
        <div><span class="text-danger" asp-validation-for="Email"></span></div>
        <label>Email</label>
        <input asp-for="Email" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Sifra</label>
        <div><span class="text-danger" asp-validation-for="Sifra"></span></div>
        <input asp-for="Sifra" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Prijavi se</button>
</form>

