<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PRODAVNICA</a>
    </nav>
    <div class="row m-1 p-1">
        <div class="col-3">
            @await Component.InvokeAsync("Navigacija")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
