<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/**" />

    <style>
        .input-validation-error {border-color: red; background-color: #fee;}
    </style>
</head>
<body class="m-1 p-1">
    <div class="bg-info p-2">@ViewBag.Title</div>
    <div class="col-2">
        <a class="btn btn-sm btn-primary"
           asp-action="Odjava" asp-controller="Account">
            Odjava
        </a>
    </div>
    <div>
        @if (TempData["poruka"] != null)
        {
            <div class="alert alert-success">@TempData["poruka"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
